# Node / Expo
node_modules/
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# IDE / OS
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Env (mantém chaves fora do repo)
.env
.env.*
.env*.local

# Native (managed: normalmente não versionar)
ios/
android/
.kotlin/
*.orig.*

# Credenciais / certificados
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Metro
.metro-health-check*

# TypeScript
*.tsbuildinfo

# (Opcional) se alguma vez versionares ios/android, também ignora builds/caches:
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
